<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="MLog.Web.AspNetCore" />
	</extensions>
	
	<!-- Konfiguracja targetów (gdzie logi będą zapisywane) -->
	<targets>
		<!-- Logi do pliku -->
		<target name="file" xsi:type="File" fileName="D:\Logs\RestaurantAPI\${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />

		<!-- Logi do konsoli -->
		<target name="console" xsi:type="Console" layout="${longdate} ${uppercase:${level}} ${message}" />

		<target name="exceptions" xsi:type="File" fileName="D:\Logs\RestaurantAPI\${shortdate}-exceptions.log" layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<!-- Zasady logowania -->
	<rules>
		<!-- Logowanie wszystkiego od poziomu Trace do pliku -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<logger name="RestaurantAPI.*" minLevel="Error" writeTo="exceptions"/>

	</rules>

</nlog>